<app-header titulo="Boton"></app-header>

<ion-content>
  <ion-header >
    <ion-toolbar>
      
      <div class="titulo" class="ion-text-center">
      <b class="ion-padding">Selecciona tu color favorito: </b>
      </div>
      <div class="Colors" class="ion-text-center">
      <ion-button color="primary">Azul</ion-button>
      <ion-button color="secondary">Celeste</ion-button>
      <ion-button color="tertiary">Violeta</ion-button>
      </div>
      <div class="Colors1" class="ion-padding" class="ion-text-center">
      <ion-button color="success">Verde</ion-button>
      <ion-button color="warning">Amarillo</ion-button>
      <ion-button color="danger">Rojo</ion-button>
      </div>
      <div class="Colors2" class="ion-padding" class="ion-text-center">
      <ion-button color="light">Negro</ion-button>
      <ion-button color="medium">Plomo</ion-button>
      <ion-button color="dark">Blanco</ion-button>
      </div>
    </ion-toolbar>
  </ion-header>
</ion-content>
