<app-header titulo="Input"></app-header>

<ion-content>
  <ion-content>
    <ion-list>
      <ion-item>
      <ion-avatar slot="start">
        <img alt="Usuario"
          src="https://cdn-icons-png.flaticon.com/128/2550/2550260.png" />
      </ion-avatar>
        <ion-input label="Registro de usuario"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Nombres completos" placeholder="Introuce tu nombre"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Correo electronico:</ion-label>
        <ion-input type="email" placeholder="Correo electronico" name="email" [(ngModel)]="usuario.email"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zAZ]{2,5})$" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Direccion:" value="6 de marzo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Una vez registrado," value="puedes iniciar sesion." [readonly]="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Contraseña: </ion-label>
        <ion-input type="password" name="password" [(ngModel)]="usuario.password" required placeholder="Contraseña">
        </ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input label="Bienvenido" value="" [disabled]="true"></ion-input>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-content>
